body{
  background-image: url('https://images.pexels.com/photos/944735/pexels-photo-944735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
#instructions,#total,#total2,#player2,#alert1,#alert2,#win1,#win2{
  display: none;
}
a{
  text-decoration: none;
  border-top: 2px;
  background: #FFCDD2;
}
a:hover{
  text-decoration:none;
  background: #EF5350;
  color: white;
}
